@font-face {
  font-family: CircularStd;
  src: url(circularstd-medium.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(circularstd-bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(circularstd-book.otf);
  font-weight: 300;
  font-style: normal;
}
